agm-map {
  height: 600px;
  width:600px;
}
#box {
  position: relative;
  margin: 5% auto;
  width: 1300px;
  height: 700px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 600px;
  height: 600px;
}

.right {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  right: 0;
  padding: 40px;
  width: 600px;
  height: 600px;
  border-radius: 0 2px 2px 0;
}
