<!--The content below is only a placeholder and can be replaced.-->

<div class="container" style="text-align:center">
  <h1>
    {{ title }}
  </h1>

</div>
<body>
  <div class="login">
    <div class="left">
      <button routerLink="/login" class="signin">User Sign In</button>
    </div>
    <div class="right">
      <button routerLink="/admin" class="signin">Admin Sign In</button>
    </div>
  </div>

</body>

<router-outlet></router-outlet>

<br><br>
<!--
<div class="about" style="text-align:center">
  <h3>About Us</h3>
  <p><span>For over three decades, the Karnataka Power Corporation has been a prime mover and catalyst behind key power sector reforms in the state – measures that have spiraled steady growth witnessed in both industrial and economic areas.</span></p>
  <p><span>Right from the year of inception, in 1970, KPCL set its sights on “growth from within” meeting growing industry needs and reaching out to touch the lives of the common man, in more ways than one.</span></p>
  <p><span>KPCL today has an installed capacity of 5975.91 MW of hydel, thermal, solar and wind energy, with 9500 MW in the pipeline. The 1720 MW Raichur Thermal Power Station located in Raichur dist is accredited with ISO 14001-2004 certification for its environment protection measures. From an industry vantage point, KPCL has raised the bar on the quality of deliverables and is constantly working at lowering the cost per megawatt – a commendable cost-value equation that has become a benchmark on the national grid. KPCL’s stock in trade is industry proven – well-established infrastructure & modern, progressive management concepts and a commitment to excel, helping it meet the challenges of the rising energy demands of Karnataka.</span></p>
  <p><span>The leverage point of KPCL initiatives are its resource management strengths – right across planning, financing and project engineering. KPCL also has a high rating in terms of project completion and commissioning within the implementation calendar.</span></p>
</div>
-->
<br><br><br>
  <div class="footer">
    <p>&copy; KPCL.</p>
</div>
